<h1>{{ event?.eventName }}</h1>
<h3>{{ event?.description }}</h3>
<h6>Start Date: {{ event?.startTime | date: "medium" }}</h6>
<h6 *ngIf="event?.endTime != 0">
  End Date: {{ event?.endTime | date: "medium" }}
</h6>
<h3>Available Roles</h3>
<ul *ngFor="let e of roles" class="list-group">
  <li class="list-group-item">
    <p cl>
      {{ e.roleName }} : {{ e.description }}
      <span *ngIf="currentUser.localeCompare('')" class="float-right"
        ><button class="btn btn-primary" disabled>Sign Up</button></span
      >
    </p>
    <p>Minimum volunteers needed: {{ e.minVolunteers }}</p>
    <p>Maximum available positions: {{ e.maxVolunteers }}</p>
  </li>
</ul>
